* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-areas: "head head head"
                       "main main main";
                      
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: 10vh 90vh;
  margin: 0;
  max-height: 100vh;
    }   

/* Main sections */
body > * {
  border: 1px solid black;
}
body > header {
  
  align-items: flex-end;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}   

body header nav a {
  text-decoration: none;
  color: black;
}

.top-name {
  font-size: 15pt;
  font-weight: bold;
  margin: 0;
}

body main {
  grid-area: main;
  text-align: center;
}

h1 {
  font-size: 40pt;
}
li {
  font-size: 20pt;
  font-family: Arial;
  list-style-type: none;
  padding-left: 50px;
  padding-bottom: 30px;
  text-align: left;
}

ul {
  padding-left: 160px;
  
}
