* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-areas: "head head head"
                       "pic main main";
                      
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
  margin: 0;
  max-height: 100vh;
    }   

/* Main sections */
body > * {
  border: 1px solid black;
}
body > header {
  
  align-items: flex-end;
  grid-area: head;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}   
 h1 {
  padding-bottom: 12px;
  padding-left: 120px;
  margin: 0;
  font-size: 45pt;
  font-family: Arial;
}

h4 {
  padding-left: 120px;
  margin: 0;
  font-size: 20pt;
  font-family: Arial;
}

h3 {
  padding-bottom: 60px;
  padding-left: 120px;
  margin: 0;
  font-size: 20pt;
  font-family: Arial;
}

hr {
  width: 100%;
  border-top: black 8px solid;
  margin: 0;

}

body header nav a {
  text-decoration: none;
  color: black;
}

.top-name {
  font-size: 15pt;
  font-weight: bold;
  margin: 0;
}

body > section {
  grid-area: main;
  
  display: flex;
  
  justify-content: flex-end;
  flex-direction: column;
}

.photo {
  background-color: black;
}
